.banner{
    width:100%;
    height:800px;
    background-size:cover;
 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0;
  
}


.banner-title {
font-size: 5rem;
 padding: 300px 0 0 50px;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
}

.banner-description {
  width: 30%;
  font-size: 1.3rem;
  padding: 10px 0 0 50px;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
}

.banner-button {
    height: 50px;
    width: 150px;
    text-align: center;
    font-size: 1.3rem;
  
  font-family: oswald, sans-serif;
  font-weight: 400;
  margin-right: 10px;
  
  margin-top: 10px;
  background-color: white;
  border-color: rgb(232, 243, 252);
  border-radius: 5px;

}

.banner-buttons {
    padding: 10px 0 0 50px;
    display: flex;
    flex-direction: row;
}

.poster{
height: fit-content;
width: fit-content;
display: inline-block;
padding: 0px 3px;
border-radius: 9px;
}

.posters-container{
  
    padding:60px 50px 50px 50px;
    background-color: black;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    color: white;
    
    

   
}
.posters-container::-webkit-scrollbar {
    display: none;
}
.posters-container h1{
    font-size: 1.7rem;
    margin-bottom:20px;
    font-family: 'Oswald', sans-serif;
  font-weight: 100;
}



.poster:hover{
    transform: scale(1.5);
    transition: all 0.2s;
    z-index: 999;
    cursor: pointer;
} 