.netflix-logo {
 width:auto;
    height:30px;
  color:rgb(229,9,20);
  fill:currentColor;
  display:block;
}

.profile-logo {
  width: 30px;                     /* give it width */
  height: 30px;
  background-image: url("/profileicon.png");
  background-size: contain;        /* fit image */
  background-repeat: no-repeat;
  background-position: center;
}



.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 68px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 20%, transparent);
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 0px;
    padding-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.navbar-right-section {
  display: flex;
  flex-direction: row;
     gap: 20px;
  margin-left: auto;   /* magic line ✨ */
  margin-right: 20px;
  margin-top: 0;
}

.search-icon {
  width: 20px;
  height: 20px;
  color: white;
  fill: currentColor;
  display: block;
  cursor: pointer;
}

.bell-icon {
  width: 20px;
  height: 20px;
  color: white;
  fill: currentColor;
  display: block;
  cursor: pointer;
}

.navbar__links {
  display: flex;
  list-style: none;
  gap: 18px;
  margin-left: 50px;
}

.navbar__links a {
    font-family: Oswald, sans-serif;
  color: #e5e5e5;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

.navbar__links a:hover {
  color: white;
}

/* Active link (current page) */
.navbar__links a.active {
  color: white;
  font-weight: 600;
}