@import "tailwindcss";

* {
  @apply m-0 p-0 box-border;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 1rem;
}

.content {
  flex: 1;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.card {
  background: #f4f4f4;
  padding: 1.5rem;
  border-radius: 8px;
  text-align: center;
}



@media (min-width: 768px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
  }
}

.netflix-logo {
  width: 5.5625rem;
  height: 1.5rem;
  color: rgb(229, 9, 20);
  fill: currentColor;
  display: block;
}
@media screen and (max-width: 959.98px) {
  .netflix-logo {
    width: 5.5625rem;
    height: 1.5rem;
  }
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 68px;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
  padding-left: 52px;
  padding-right: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.movie-poster {
  width: auto;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}
